<nav>
    <div class="nav-container">
        <div class="logo">
            <img src="assets/images/Logo1.png" alt="LOGO">FindMyItem
        </div>
        <div class="nav-links">
            <a routerLink="/home"routerLinkActive="active">Home</a>
            <a routerLink="/reportlost" routerLinkActive="active">Report Lost</a>
            <a routerLink="/reportfound" routerLinkActive="active">Report Found</a>
            <a routerLink="/lostitems" routerLinkActive="active">View Lost Items</a>
            <a routerLink="/founditems" routerLinkActive="active">View Found Items</a>
        </div>        
        <div class="mobile-menu" onclick="toggleMenu()">☰</div>
    </div>
</nav>