<footer>
    <div class="footer-container">
        <div class="footer-left">
            <div class="footer-logo">
                <img src="assets/images/Logo1.png" alt="LOGO">FindMyItem
            </div>
            <div class="footer-links">
                <a routerLink="/home">Home</a>
                <a routerLink="/reportlost">Report Lost</a>
                <a routerLink="/reportfound">Report Found</a>
            </div>
        </div>
        <div class="footer-right">
            <p class="developer-credit">Developed by <span class="developer-name">Shreyansh Dixit</span> & <span
                    class="developer-name">Swati Kumari</span></p>
            <p>&copy; 2025 FindMyItem. All Rights Reserved.</p>
        </div>
    </div>
</footer>
